%p
  %b Name:
  = @design.name
%p
  %b Description:
  = @design.description
%p
  %b Category:
  = @design.category.name
%p
  %b image:
  = image_tag @design.image

= link_to 'Edit', edit_design_path(@design)
\|
= link_to 'Back', designs_path
