= simple_form_for(@category, html: { role: "form" }) do |f|
	= f.error_notification

	.form-group
		= f.input :name
		= f.input :layout, as: :select, collection: %w{single two_column}
	.form-group
		= f.button :submit, class: 'btn-default'
