%h1 Categories
%p
  %i.glyphicon.glyphicon-plus-sign
  = link_to 'New Category', new_category_path

%table.table
  %thead
    %tr
      %th Name
      %th Layout
      %th{ colspan: 2 } Actions

  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.name, category
        %td= category.layout
        %td= link_to 'Edit', edit_category_path(category), class: "btn btn-primary"
        %td= link_to 'Destroy', category, method: :delete, class: "btn btn-danger",
          data: { confirm: 'Are you sure?' }