- title "Email from #{@email.name}"

%p
  %b Name:
  = @email.name
%p
  %b Email:
  = @email.email
%p
  %b Message:
= simple_format @email.message

- if user_signed_in?
  %p
    = link_to 'Edit email', edit_email_path(@email), class: 'btn btn-primary'
    = link_to 'Destroy', @email, method: :delete, class: 'btn btn-danger',
      data: { confirm: 'Are you sure?' }
