!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title
        = yield(:title) || "Untitled"
        &ndash;
        = ENV["site_name"]
      %meta{:content => content_for?(:description) ? yield(:description) : "", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags

  %body
    %header.jumbotron
      .container
        %h1.text-center
          = link_to "/" do
            = image_tag "from-the-desk-of-vmerch.png", alt: "From the desk of vmerch", class: "img-responsive"

  %nav.navbar.navbar-default{ role: "navigation" }
    .container
      .navbar-header
        %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
          %i.icon-bar
          %i.icon-bar
          %i.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to root_path do
              = image_tag "home.png", alt: "Home"
          - Category.all.each do |category|
            %li= link_to category.name, category
          %li= link_to "Contact", "#contact"

  .content.container
    = render 'layouts/heading'
    = render 'layouts/messages'
    = yield

  %footer
    .container.text-center
      %ul.list-inline
        %li= mail_to "hello@vmerch.me", "say hello@vmerch.me"
        %li= link_to "view endorsements", "#"
        %li= link_to "download resume", "#"
      %p= image_tag "footer-logo.png", alt: ""

    = javascript_include_tag "application"
