!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
      &ndash;
      = ENV["site_name"]
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "", :name => "description"}
    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400', media: 'all'
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag '/favicon.ico'

  %body
    %header.jumbotron
      .container
        %h1.text-center
          = link_to (user_signed_in? ? home_path : root_path) do
            = image_tag "#{ENV['image_assets_url']}/from-the-desk-of-vmerch-v2.png", alt: "From the desk of vmerch", class: "img-responsive"

  %nav.navbar.navbar-default{ role: "navigation" }
    .container
      .navbar-header
        %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
          %i.icon-bar
          %i.icon-bar
          %i.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to (user_signed_in? ? home_path : root_path) do
              = image_tag "#{ENV['image_assets_url']}/home.png", alt: "Home"
          - Category.all.each do |category|
            %li= link_to category.name, "/#{category.slug}"
          %li= link_to "Contact", contact_path

  .content.container
    = render 'layouts/heading'
    = render 'layouts/messages'
    = yield

    - if user_signed_in?
      %p.pull-right
        = "Logged in as #{current_user.email}"
        |
        = link_to 'Sign out', destroy_user_session_path, :method => :delete, :rel => 'nofollow'

  %footer
    .container.text-center
      %ul.list-inline
        %li= mail_to "hello@vmerch.me", "say hello@vmerch.me"
        %li= link_to "view endorsements", "//www.linkedin.com/in/valeriemerchant"
        %li= link_to "download resume", "//assets.vmerch.me/documents/merchant_valerie_resume_2014.pdf"
      %p= image_tag "#{ENV['image_assets_url']}/footer-logo.png", alt: ""

    = javascript_include_tag "application"
